.ion-card-title{
  font-family: 'poligraphergrotesk-semibold';
  font-size: 30pt;
}
h1{
  padding: 0;
  margin: 0;
}
ion-card-header{
  padding: 0;
  padding-left: 3.9%;
  margin: 1vh 0vh 1vh 0; 

}
ion-card-subtitle{
  margin: 0;    
}
ion-icon{
  padding: 0;
  margin: 0;
}
ion-card-content{
  margin: 0vh 0vh 1vh 0; 
}
ion-card{
  margin: 0;
}