ion-header{
    padding-top: 3vh;
    padding-left: 2vh;
    background-color: #130223;
}
p{
    padding: 0;
    margin: 0;
}
.nombre{
    padding-top: 2vh;
    padding-left: 3vh;
}
.imagen{
    padding-left: 3vh;
}
.color{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: var(--ion-color-mostaza);
}
.nombre{
    margin: 0;
}
.datos{
    padding-top: 5vh;
    width: 40px;
    padding-right: 2vh;
}
.datosLugar{
    padding-left: 2vh;
}
ion-list{
    background-color: var(--dark);
    padding-left: 2vh;
    
}
ion-col{
    padding-top: 6%;
    padding-bottom: 6%;
}
hr{
    background:white;
}
ion-list{
    position: relative;
    justify-content: center;
}
ion-chip{
    background: #fff;
    padding: 2% 4% 2% 4%;
    border-radius: 120px ;
    color: var(--ion-color-primary);
}
ion-card{
    background-color: var(--ion-color-primary-tint);
}
ion-card-title{
    color: #fff;
}