<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="imagen">
          <img src="https://drive.google.com/file/d/1BzwK6OkUPRF4MIbvh7-L34LQApDFhaXK/view?usp=drive_link" alt="">
        </div>
      </ion-col>
      <ion-col>
        <p>Hola,</p>
        <h1>{{auth.profile?.name}}</h1>
        <p>
          {{auth.profile?.name}} <br>

          {{auth.profile?.email}} <br>

          whatsapp: {{auth.profile?.phone}} <br>

        </p>
      </ion-col>
      <p *ngFor="let lugar of lugaresPropios">
        {{lugar.nombre}} <br>
        {{lugar.direccion}} <br>
        {{lugar.nombre_propietario}}
      </p>
      <ion-card *ngFor="let lugar of lugaresPropios">
        <ion-card-header>
          <ion-card-title color="primary">{{lugar.nombre}} </ion-card-title>
          <ion-card-subtitle>{{lugar.nombre_propietario}} | USD. {{lugar.precio}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{lugar.direccion}}
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
  <hr color="mostaza2">
  <ion-list>
    <h2>Pertenece a:</h2>
    <hr color="blanquito">
    <ion-item>
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Artista</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Propietario</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Productora</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-tab ></app-tab>
  </ion-toolbar>
</ion-footer>