<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Hola, {{auth.profile?.name}}</h1>
        <p>
          nombre: {{auth.profile?.name}} <br>

          email: {{auth.profile?.email}} <br>

          whatsapp: {{auth.profile?.phone}} <br>

        </p>
      </ion-col>
      <p *ngFor="let lugar of lugaresPropios">
        {{lugar.nombre}} <br>
        {{lugar.direccion}} <br>
        {{lugar.nombre_propietario}}
      </p>
      <ion-card *ngFor="let lugar of lugaresPropios">
        <ion-card-header>
          <ion-card-title color="primary">{{lugar.nombre}} </ion-card-title>
          <ion-card-subtitle>{{lugar.nombre_propietario}} | USD. {{lugar.precio}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{lugar.direccion}}
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>