<ion-card class="cardFondo" style="margin: 0; box-shadow: none; width: 100%;">
  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  <ion-card-header>
    <ion-card-title color="mostaza2" style="font-family: 'poligraphergrotesk-semibold';">Nombre del Evento</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card-subtitle color="blanquito">
      <h2 style="font-family: 'poppins-regular'!important;"> Description </h2>
    </ion-card-subtitle>
    <p> Here's a small text description for the card content. Nothing more, nothing less.</p>
    <hr>
    <ion-card-subtitle color="blanquito">
      <h2 style="font-family: 'poppins-regular'!important;"> Ubicación </h2>
    </ion-card-subtitle>
    <p> Here's a small text description for the card content. Nothing more, nothing less.</p>
    <hr>
    <ion-card-subtitle color="blanquito">
      <h2 style="font-family: 'poppins-regular'!important;"> Fecha </h2>
    </ion-card-subtitle>
    <p> Here's a small text description for the card content. Nothing more, nothing less.</p>
    <hr>
    <ion-card-subtitle color="blanquito">
      <h2 style="font-family: 'poppins-regular'!important;"> Miembros </h2>
    </ion-card-subtitle>
    <li> Miembro 1.</li>
    <li> Miembro 2.</li>
    <li> Miembro 3.</li>
    <li> Miembro 4.</li>
    <hr>
    <ion-card-subtitle color="blanquito">
      <h2 style="font-family: 'poppins-regular'!important;"> Grupos </h2>
    </ion-card-subtitle>
    <div>
      <ion-list lines="full" >
        <ion-item color="dark">
          <ion-label>Full Lines</ion-label>
        </ion-item>
        <ion-item color="dark">
          <ion-label>Full Lines</ion-label>
        </ion-item>
      </ion-list> 
    </div>
  </ion-card-content>
</ion-card>

