<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
          <ion-input 
          label="Email" labelPlacement="floating"
          formControlName="email"></ion-input>
        
          <ion-input 
          label="Contraseña" labelPlacement="floating"
          formControlName="password"></ion-input>
          <ion-button type="submit" shape="round" >Ingresar</ion-button>


        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>