<ion-header></ion-header>
<ion-content [fullscreen]="true">
  
  <h1>Ingresar</h1>
  <p class="Bienvenida">
    Bienvenido a <strong>BeatSpaces</strong>.
  </p>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
          <ion-input 
          label="Email" labelPlacement="floating"
          formControlName="email"></ion-input>
        
          <ion-input
          label="Contraseña" labelPlacement="floating"
          formControlName="password"></ion-input>
          <ion-button class="Ingresar"expand="block" shape="round" color="mostaza2" type="submit"> Ingresar</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <p>¿No tienes cuenta?</p>
  <ion-button class="crearCuenta" fill="clear" color="mostaza2" routerLink="/register/">Crear cuenta</ion-button>
</ion-footer>