h1{
    padding-left: 2vh;
    padding-top: 6vh;
}
p{  
    margin: 0;
    padding-left: 2vh;
}
ion-grid{
    padding-left: 2vh;    
}
.crearCuenta{
    margin: auto;
    padding-bottom: 3vh;

}
.Bienvenida{
    padding-bottom: 5vh;
}
.ingresar{
    padding-top: 4vh !important;
}
ion-button{
    padding-right: 2vh;
}