<ion-header [translucent]="true">
  <ion-toolbar>
    
  <app-search-bar>
  </app-search-bar>
  </ion-toolbar>

  <app-toolbar>
  </app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-cardpapu>

  </app-cardpapu>

  <app-action-calendar>

  </app-action-calendar>

  <!-- Boton add -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" style="margin-bottom: 60px; margin-right: 12px;" >
    <ion-fab-button color="mostaza2">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <app-tab ></app-tab>
  </ion-toolbar>
</ion-footer>