<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pruebas UI Components</ion-title>
  </ion-toolbar>

  <app-toolbar>

  </app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-cardpapu>

  </app-cardpapu>

  <app-cardpapu>

  </app-cardpapu>

  <!-- Boton add -->
  <div class="contenedorButton">
    <button class="addButton">
        <ion-icon style="scale: 3;" name="add" ></ion-icon>
    </button>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <app-tab></app-tab>
  </ion-toolbar>
</ion-footer>