<ion-header></ion-header>
<ion-content [fullscreen]="true">
 
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Registrarse</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
          <ion-input 
          label="Email" labelPlacement="floating"
          formControlName="email"></ion-input>
          <ion-input 
          label="Nombre" labelPlacement="floating"
          formControlName="name"></ion-input>
          <ion-input 
          label="Whatsapp" labelPlacement="floating"
          formControlName="phone"></ion-input>
          <ion-input 
          label="Contraseña" labelPlacement="floating"
          formControlName="password"></ion-input>
          <ion-input 
          label="Confirme Contraseña" labelPlacement="floating"
          formControlName="confirmPassword"></ion-input>
          
          <ion-button type="submit" shape="round" expand="full" color="mostaza2">Registrar cuenta</ion-button>


        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <p>¿Ya tienes cuenta?</p>
  <ion-button class="crearCuenta" fill="clear" color="mostaza2">Crear cuenta</ion-button>
</ion-footer>