<ion-button   shape="round" id="open-modal" expand="block"><ion-icon name="calendar-outline"></ion-icon></ion-button>
    <ion-modal   trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
        <ng-template class="fondo2"  color="dark">
            <div  class="modal-cortado ">
                <ion-datetime mode="ios" color="mostaza2" presentation="date" [multiple]="true" class="calendario" >
                    
                    <span slot="title"> <h3>Selecciona la fecha</h3></span>
                </ion-datetime>
                
            </div>
            <ion-button class="fondo2" color="mostaza2" shape="round">Reservar Lugar</ion-button>
        </ng-template>
    </ion-modal>

    