<ion-button id="open-modal" expand="block">Open Sheet Modal</ion-button>
    <ion-modal   trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
        <ng-template >
            <div  class="modal-cortado ">
                <ion-datetime color="mostaza2" presentation="date" [multiple]="true" class="calendario" >
                    <span slot="title"> <h3>Selecciona la fecha</h3></span>
                </ion-datetime>
            </div>
        </ng-template>
    </ion-modal>

    