<ion-list>
  <h3>Esta mes</h3>
  <hr color="blanquito">
  <ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Evento 1</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Evento 2</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Evento 3</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Evento 4</ion-label>
  </ion-item>
</ion-list>