<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><h1>Lugares:</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label color='blanquito' position="stacked">Nombre:</ion-label>
    <ion-text>{{user?.name}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-label color='blanquito' position="stacked">Email:</ion-label>
    <ion-text>{{user?.email}}</ion-text>
  </ion-item>



  <h1>Lugares:</h1>
  <app-cardpapu ></app-cardpapu>
</ion-content>