<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  


  <!--
  GRILLAS
  -->

  <h1>h1 heading </h1>
  <h2>h2 heading</h2>
  <h3>h3 heading</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam fuga quisquam facere beatae necessitatibus itaque eius cum quis, sed minus aliquam iure ab laboriosam officia, dolore asperiores excepturi praesentium.
    <ion-button color= v1
    
    >
      Boton PRUEBA
    </ion-button>
  
    <ion-grid>
    <ion-row>
      <ion-col color= v1>
        1
      </ion-col>
      <ion-col>
        2
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        1
      </ion-col>
      <ion-col>
        2
      </ion-col>
      <ion-col>
        3
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>



<app-menu></app-menu>