<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <li routerLink="/register">Login</li>
  <li><a href="/register">Register</a></li>
  <li routerLink="/profile">Profile</li>
  <li routerLink="/search">Search</li>
  <ion-button [routerLink]="'/register'">Registro</ion-button>

<app-card></app-card>
<app-card></app-card>
<app-card></app-card>
<app-card></app-card>
<app-card></app-card>
</ion-content>


<app-menu></app-menu>
