ion-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}
.sinSombra{
    display: block;
    box-shadow: none;
}
app-back{
    padding-left: 2%;
    padding-top: 2%;
    position: fixed;
    z-index: 10;
}
app-action-calendar{
    
}